@tailwind base;
@tailwind components;
@tailwind utilities;

/* Selection Styles */
*::-moz-selection {
  @apply bg-orange
}

*::selection {
  @apply bg-orange
}
/* Selection Styles */

/* Fonts */
@font-face {
  font-family: Basement Grotesque;
  src: url("../public/fonts/BasementGrotesque.otf");
  font-weight: 800;
}
/* Font */

/* Cursor Styles */
.cursor {
  position: fixed;
  top: 0;
  left: 0;
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  z-index: 2000;
  user-select: none;
  pointer-events: none;
}

.follower {
  position: fixed;
  top: 2px;
  left: 0;
  z-index: 2000;
  user-select: none;
  pointer-events: none;
}
/* Cursor Styles */

/* Orbit Animation */
.orbit {
    animation: bounce 4s ease-in-out infinite;
  }
  
  @keyframes bounce {
    0% {
      transform: translateY(-10px);
    }
    50% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
/* Orbit Animation */ 

/* Button Styles */
.btn {
  width: 100%;
  height: 65px;
  clip-path: polygon(0 0,calc(100% - 20.00px) 0,100% 20.00px,100% 100%,20.00px 100%,0 calc(100% - 20.00px));
  font-size: 14px;
  transition: 0.3s ease all;
  font-family: "Basement Grotesque", sans-serif;
  text-transform: uppercase;
}

.btn-orange {
  /* background-color: #FF4D00; */
  @apply bg-orange text-white
}

/* .btn-orange:hover {
  background-color: rgba(255, 255, 255, 0.75);
  color: #181818;
} */

.btn-white {
  /* background-color: white;
  color: #181818; */
  @apply bg-white text-black dark:bg-black dark:text-white
}

.btn-white:hover {
  background-color: rgba(255, 255, 255, 0.75);
}
/* Button Styles */

/* Splide Styles */
.splide__track {
  overflow: visible !important;
  width: 100%;
}
/* Splide Styles */

/* TV Static Effect */
.tv-static {
  animation: animate .5s linear infinite;
}

@keyframes animate {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 100%;
  }
}
/* TV Static Effect */